@charset "UTF-8";

/*------------------------------
 123_「第一回フードテックジャパン」出展のご案内
------------------------------*/
:root{
   --font-blue: #0095FF; 
}

.text-font-blue{
    color: var(--font-blue);
}

@media screen and (min-width: 992px) {}

/*------------------------------
 125_ネオマフォーム × 木外装 の 木造軸組「防火構造30分認定」を新たに取得
------------------------------*/

@media screen and (min-width: 992px) {}

/*------------------------------
 126_ネオマフォーム × 木外装 の 木造軸組「準耐火構造45分認定」を新たに取得
------------------------------*/

@media screen and (min-width: 992px) {}

/*------------------------------
 127_SDS改定のお知らせ
------------------------------*/

@media screen and (min-width: 992px) {}

/*------------------------------
 128_セルローズファイバー× ネオマフォーム付加断熱の防火認定を取得
------------------------------*/


.download-link {
    display: inline-flex;      /* Keeps the link centered but items inside side-by-side */
    align-items: center;       /* Vertically aligns text and circle */
    text-decoration: none;
    color: inherit;
}

.play-icon {
    background-color: var(--color-main-red);
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;     
    justify-content: center;
    font-size: 8px;         
    padding-left: 6px;        
    padding-top: 1px;       
    flex-shrink: 0;
}
@media screen and (min-width: 992px) {}
